* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 149px;
    --height: 58px;
    height: var(--height);
    border-radius: 8px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    transition: opacity 0.5s;
}

.btn:hover {
    opacity: 0.9;
}

.section__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
/* Header */
.header {
    margin-top: 42px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
}

.header__navbar {
    margin-left: 70px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 5px 23px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #212832;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    cursor: pointer;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__login {
    margin-right: 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__login:hover {
    text-decoration: underline;
}

.header__signup {
    min-width: 113px;
    --height: 52px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    margin-top: 57px;
}

.hero__type {
    display: flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero__type::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__title {
    width: 500px;
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__title strong {
    color: #7264d6;
}

.hero__desc {
    margin: 20px 160px 0 0;
    width: 540px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.hero__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__from-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 23px;
    font-size: 1.6rem;
    color: #696d76;
    font-weight: 400;
    line-height: 1.75;
    font-family: "Open Sans", sans-serif;
}

.hero__form-submit {
    background: #7264d6;
    font-family: "Open Sans", sans-serif;
    border: none;
    outline: none;
    margin-right: 8px;
    transition: opacity 0.5s;
}

.hero__form-submit:hover {
    opacity: 0.9;
}

.hero__img-wrap {
    position: relative;
}

.deposit {
    position: absolute;
    top: 113px;
    right: 222px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposit__content {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.deposit__number {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 130px;
    height: 130px;
    background-color: #da6464;
    border-radius: 50%;
}

.interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.interest__content {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.secured {
    position: absolute;
    top: 433px;
    left: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.secured__group {
    margin-left: 11px;
}

.secured__number {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.secured__content {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

.hero_form-desc {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7; /* 171.429% */
}

/* Work */
.work {
    padding: 80px 0;
    margin-top: 80px;
}

.work__inner {
    display: flex;
}

.work__img {
    width: 456px;
}

.work__media {
    position: relative;
}

.work__img-wrap {
}

.work__img-wrap::after {
    position: absolute;
    content: url(../img/Rectangle\ 4490.svg);
    top: 73px;
    left: -7px;
    z-index: -1;
}

.work__decorator {
    position: absolute;
    top: 76px;
    right: 55px;
    z-index: 10;
}

.work__content {
    margin-top: 29px;
    margin-left: 230px;
}

.work__decor-content {
    position: absolute;
    left: 337px;
    bottom: 97px;
    display: flex;
    padding: 15px;
    align-items: center;
    width: 226px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__decor-check {
    margin-right: 15px;
}

.work__decor-title {
    margin-bottom: 5px;
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__decor-desc {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.work__content-title {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.work__content-list {
    margin-top: 70px;
}

.work__content-item {
    margin-top: 30px;
}

.work__content-heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
}

.work__content-desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* service */
.service {
    padding: 80px 0;
}

.service__inner {
    display: flex;
}

.service__content {
    width: 470px;
    margin-right: 130px;
}

.service__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.service__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.service__list {
    margin-top: 28px;
}

.service__item {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.service__item::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #7264d6;
    border-radius: 50%;
}

.service__cta {
    margin-top: 38px;
}

.service__img-wrap {
    position: relative;
}

.service__decor1-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #fbf0f0;
    box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}

.service__media {
    margin-top: 86px;
}

.send-money {
    position: absolute;
    top: -48px;
    left: 294px;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.service__decor1-content {
    margin-left: 14px;
}

.service__decor1-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.service__decor2-desc,
.service__decor1-desc {
    margin-top: 4px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.service__decor2-content {
    margin-left: 67px;
}

.service__decor2-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
.service__decor2-desc {
    margin-top: 3px;
    margin-left: 19px;
}

.income {
    position: absolute;
    right: -88px;
    bottom: -55px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 14px 15px;
}

.service__decor3-title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.service__decor3-desc {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Transfer */
.transfer {
    padding: 80px 0;
}

.transfer__inner {
    display: flex;
}

.transfer__media {
    position: relative;
}

.transfer__img-wrap {
    position: relative;
}

.transfer__img-wrap::after {
    position: absolute;
    content: url(../img/transfer_decor.png);
    bottom: 0;
    left: -29px;
    z-index: -1;
}

.transfer__img {
    width: 413px;
}

.transfer__img-decor2 {
    position: absolute;
    top: 288px;
    right: -130px;
    padding: 33px 24px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #7264d6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.transfer__content {
    margin-left: 230px;
}

.transfer__decor3 {
    position: absolute;
    right: -105px;
    bottom: 57px;
    width: 281px;
    padding: 28px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.transfer__decor3-title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.payment-method-table {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.payment-method-table__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 12px;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.payment-method-table__img-wrap:last-of-type {
    background-color: #f9ea63;
}

.transfer__content {
    margin-top: 50px;
}

.transfer__desc {
    width: 470px;
}

.transfer__list {
    margin-top: 28px;
}

.transfer__item {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.transfer__item::before {
    margin-right: 12px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #7264d6;
    border-radius: 50%;
}

.transfer__cta {
    margin-top: 38px;
}

/* Client */
.client {
    padding: 80px 0;
}

.client__top {
    text-align: center;
}

.client__type {
    display: inline-flex;
}

.client__desc {
    display: inline-block;
    margin-top: 18px;
    width: 450px;
}

.client__content {
    margin-top: 70px;
}

.client__content-item-list {
    display: flex;
    column-gap: 30px;
}

.client__box-chat {
    position: relative;
    width: 570px;
    padding: 42px 28px;
    background-color: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    transition: filter 0.5s;
}

.client__box-chat::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%) scale(1, 1.5) rotate(45deg);
    border-right: inherit;
    border-bottom: inherit;
    bottom: -26px;
}

.client__box-chat:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.client__box-chat-content {
    text-align: center;
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.client__avatar-box {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
    align-items: center;
}

.client__avatar-img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    object-fit: cover;
}

.client__avatar {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client__content-next {
    display: flex;
    margin-top: 38px;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
}

.client__next-item {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.client__next-item:hover {
    background: #7264d6;
    border-color: #7264d6;
}

/* Blog */
.blog {
    padding: 80px 0;
}

.client__desc,
.blog__desc {
    font-size: 16px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 16px;
    width: 460px;
}

.blog__btn {
    min-width: 123px;
}

.blog__content {
    margin-top: 70px;
}

.blog__item-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog__item {
    display: flex;
    /* align-items: center; */
    width: 570px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: box-shadow 0.5s;
}

.blog__item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.blog__item-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-right: 22px;
}

.blog__item-data {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 10px;
}

.blog__item-main {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 10px;
}

.blog__item-more {
    display: inline-block;
    margin-top: 20px;
    color: #7264d6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

/* app */
.app {
    padding: 80px 0;
}

.main-content {
    position: relative;
    padding: 100px 368px;
    width: 1170px;
    height: 466px;
    border-radius: 24px;
    background: #7264d6;
}

.app__type {
    display: inline-flex;
    color: #fff;
}

.app__type::before {
    background-color: #fff;
}

.download__app {
    text-align: center;
}

.app__heading {
    color: #fff;
}

.app__desc {
    color: #fff;
    font-size: 16px;
}

.download__app-network {
    margin-top: 38px;
}

.download__app-network {
    display: inline-flex;
    gap: 16px;
}

.app__img {
    width: 182px;
    border-radius: 6px;
    background: #fff;
    padding: 18px 31px;
}

.app__img:nth-of-type(2) {
    padding: 18px 35px;
}

.app-decor1,
.app-decor2,
.app-decor3,
.app-decor4 {
    position: absolute;
}

.app-decor1 {
    top: 49px;
    left: 112px;
}

.app-decor2 {
    top: 49px;
    right: 112px;
}

.app-decor3 {
    bottom: 49px;
    left: 166px;
}

.app-decor4 {
    bottom: 49px;
    right: 166px;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding: 100px 135px 28px 135px;
    background: #fafbff;
}

.footer__logo {
    margin-top: -100px;
}

.footer__content {
    display: flex;
    column-gap: 163px;
}

.footer__box-title,
.footer__content1-title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 24px;
}

.footer__desc,
.footer__content1-item {
    margin-top: 15px;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.footer__desc {
    width: 371px;
}

.footer__box {
    margin-top: 48px;
}

.footer__box-title {
    color: #0a142f;
}

.footer__input {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer__input-btn {
    min-width: 113px;
    outline: none;
    border: none;
    height: 52px;
    border-radius: 6px;
    background: #7264d6;
    font-family: "Open Sans", sans-serif;
}

.footer__input input {
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    padding: 12px;
}

.footer__input input::placeholder {
    color: #8e919a;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__more {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.footer__phone,
.footer__email {
    margin-right: 100px;
    color: #6a6e78;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-decoration: underline;
}

.footer__copyright {
    padding: 28px 0;
    text-align: center;
    background: #7264d6;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
